<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root" class="container clearfix">
        <!-- left sidebar -->
        <div class="col left">
            <header class="col-header">
                <div class="col-header__avatar">
                    <img src="img/avatar_io.jpg" alt="">
                    <div class="col-header__text">
                        <h3>Sofia</h3>
                    </div>
                </div>
                <div class="col-header__actions">
                    
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-circle-notch"></i>
                </div>
            </header>

            <section class="disclaimer"></section>

            <section class="search">
                <div class="search__field">
                    <label for="search" class="search__icon">
                        <i class="fas fa-search"></i>
                    </label>
                    <input class="search__input"type="text" id="search" placeholder="Cerca o inizia nuova chat">
                </div>
                
            </section>

            <section class="contacts">

                <!-- single contact -->
                <div 
                v-for="(element, index) in contacts"
                class="contact"
                :class="{ 'contact--active': currentContact === index }"
                @click="selectContact(index)">
                    <div class="contact__avatar">
                        <img :src=" 'img/avatar' + element.avatar + '.jpg' " :alt="element.name">
                    </div>
                    <div class="contact__text">
                        <div class="contact__main-text">
                            <h3>{{element.name}}</h3>
                            <p>12:00</p>
                        </div>
                        <small>Ultimo messaggio inviato</small>
                    </div>
                </div>
            </section>
        </div>

        <!-- right main -->
        <div class="col right">
            <header class="col-header">
                <div class="col-header">
                    <div class="col-header__avatar">
                        <img :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="">
                        <div class="col-header__text">
                            <h3>{{ contacts[currentContact].name }}</h3>
                            <small>Ultimo accesso oggi alle 12:00</small>
                        </div>
                    </div>
                    <div class="col-header__actions">
                        
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-circle-notch"></i>
                    </div>
                </div>
            </header>

            <section class="messages-section">
                <!-- message item  -->
                <div class="message message--sent"
                :class="'message--' + item.status"
                v-for="item in currentContactObj.messages">
                    <div class="message__box">
                        <div class="message__text">
                            {{ item.message }}
                        </div>
                        <div class="message__time">
                            {{item.date}}
                        </div>
                        
                    </div>
                </div>

                <div class="message message--received">
                    <div class="message__box">
                        <div class="message__text"></div>
                        <div class="message__time">
                            12:00
                        </div>
                        
                    </div>
                </div>
            </section>

            <footer class="new-message">
                <div class="new-message__actions">
                    <i class="far fa-smile"></i>
                </div>
                <div class="new-message__input">
                    <input @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio"
                    v-model="newMessage">
                </div>
                <div class="new-message__actions">
                    <i class="far fa-smile"></i>
                </div>
            </footer>
        </div>

        <!-- <div class="container">
            <div id="w-container">
                <div class="col-contacts">
                    <div class="head-row-contacts avatar">
                        <img src="img/avatar_io.jpg" alt="">
                        <h6>Sofia</h6>
                    </div>
                    <div class="notification-row-contacts">
                        <i class="fas fa-bell-slash"></i>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop</span>
                    </div>
                    
                    <div class="search-bar">
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <section class="contacts">
                        <div class="contact">
                            <div @click="changeChat(index)" v-for="(element, index) in contacts" class="row-contacts avatar">
                                <img :src="'img/avatar' + element.avatar + '.jpg'" :alt="element.name"> 
                                <div class="name">{{element.name}}</div>
                            </div>
                        </div>
                    </section> -->
                    
                    
                    <!-- <div class="row-contacts avatar"> 
                        <img src="img/avatar_2.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_3.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_4.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_5.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_6.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_7.jpg" alt="">
                    </div>
                    <div class="row-contacts avatar">
                        <img src="img/avatar_8.jpg" alt="">
                    </div> -->

                <!-- </div>
                <div class="col-chat">
                    <div class="head-row-contacts avatar">
                        <img src="img/avatar_1.jpg" alt="">
                    </div>
                    <div class="chat-space">
                        <div v-for="element in contacts[selectedChat].messages">
                            <div class="user-green" v-if="element.status === 'sent'">
                                <div class="message-green">
                                    <div class="text-message">
                                        {{element.message}}
                                    </div>
                                    <div class="data">{{element.date}}</div>
                                </div>
                            </div>
                            <div class="user-white" v-else>
                                <div class="message-white">
                                    <div class="text-message">{{element.message}}</div>
                                    <div class="data">{{element.date}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-chat-footer">
                        <input type="text" placeholder="Scrivi qualcosa">
                    </div> -->

                <!-- </div>

            </div>
        </div> -->
    </div>
    <script src="js/data.js"></script>
</body>
</html>